// FP secure styles

.fp-logo {

  @include breakpoint(50em) {
    text-align: right;
  }

  img {
    max-width: 200px;
  }

}

.currency-colour {
  color: $grass-green;
}

.fp-dashboard-total {
  @include rem(margin, 0 0 60px);

  @include breakpoint(50em) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  > div {
    @include rem(margin, 0 0 15px);

    @include breakpoint(50em) {
      margin: 0;
    }
  }

}

.fp-dashboard-book {
  background-color: white;
  border: 1px solid #d3d3d3;
  margin: 1rem 0 3rem;
  padding: 1.25rem 2rem;

  a {
    text-decoration: none;
  }

  @include breakpoint(50em) {
    display: flex;
    justify-content: space-between;
  }

  [class*="book"] {
    @include rem(margin, 0 0 15px);

    @include breakpoint(50em) {
      margin: 0;
    }
  }
}

.average-fee {
  margin: 0;

  span {
    color: $grass-green;
  }

}

.book-summary-currency {
  background-color: $grass-green;
  border: 0;
  // border-bottom: 4px solid $grass-green;
  color: $grass-green;
  color: white;
  padding: 1rem;
  transition: all 250ms ease-in-out;

  .summary-title {
    color: $grass-green;
    color: white;
  }

  .summary-amount {
    color: $grass-green;
    color: white;
    font-size: 1.5rem;
  }

  &:not(.book-currency-selected) {
    background-color: transparent;
    border: 0;
    .summary-amount {
       color: #b3b3b3;
    }

    .summary-title {
       color: #b3b3b3;
    }

    &:hover {
      .summary-amount {
        color: $grass-green;
      }

      .summary-title {
        color: $apple-green;
      }

    }

  }
}


.fp-list {
  background-color: white;
  border: 1px solid #d3d3d3;
  margin: 1rem 0 3rem;
  padding: 1.25rem 0 0;

  + .fp-list {
    margin-top: 0;
  }

  &.aum-product {
    @include rem(padding, 20px);
  }

}

.fp-search {
  padding: 1.25rem 2rem 0;
}

.fpb-dash-cta {
  @include rem(padding, 16px 32px);
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  border-top: 1px solid $border-color;
  justify-content: space-between;
  text-decoration: none;
  width: 100%;
}

.tab-controls {

  + .fp-list {
    margin-top: 0;
  }
}

.fp-list-row {
  margin: 2rem 0;
  padding: 0 2rem;
  width: 100%;

  @include breakpoint(64em) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

}

.fp-table-row {
  margin: 1rem 0 2rem;
  padding: 0 1rem;
}

.fp-list-name {

  @include breakpoint(64em) {
    align-items: center;
    display: flex;
    width: 30%;
  }

  a {
    text-decoration: none;
  }

}

.fp-list-percentage {
  @include font-size(15);

  @include breakpoint(64em) {
    align-items: center;
    display: flex;
    margin-left: 0;
    width: 65%;

    &.fp-list-half {
      width: calc(65% / 2);
    }

    &.fp-list-third {
      width: calc(65% / 3);
    }

    &.fp-list-fee {
      width: 25%;
    }

    &.fp-list-average {
      width: 15%;
    }

  }

}

.fee-category {
  display: none;

  @include breakpoint(64em) {
    display: flex;
  }


}

.fp-list-half {

  &::before {
    @include rem(margin, 10px 0 0);
    content: attr(data-name);
    display: inline-block;

    @include breakpoint(64em) {
      display: none;
    }

  }

}

.fp-list-contribution {
  background-color: $medium-grey;
  border-radius: 10px;
  display: block;
  height: 5px;
  margin: .5rem 0;
  padding: .25rem .3125rem .125rem .3125rem;

  @include breakpoint(64em) {
    margin: .125rem .3125rem 0 0;
    max-width: 390px;
  }

}

$colors-list: $grass-green, $teal-green, $apple-green, $lime-green;
@each $current-color in $colors-list {
    $i: index($colors-list, $current-color);
    .fp-list-contribution-#{$i} {
        background-color: $current-color;
    }
}

.aum-product-icon {
  @include rem(margin, 0 15px 0 0);
  height: 30px;
  width: 30px;
}

.view-more-button {
  color: $grass-green;
  text-decoration: none;
}

// FP inactive

.fp-inactive {
  color: rgba(0,0,0,0.3);
  cursor: not-allowed;

  .profile-image {
    border-color: rgba(0,0,0,0.1);
  }

  .fp-list-contribution-5 {
    background-color: rgba(0,0,0,0.1);
  }

}

.fp-inactive-date {
  @include rem(margin, 0 0 0 10px);
  @include font-size(13);
}

// ~Find a client

.find-client {
  padding: 2rem 0;
}

// Screen options

.meta-button {
  display: flex;
}

.show-settings {
  @include rem(padding, 3px 6px 3px 16px);
  background: white;
  border-radius: 0;
  border: 1px solid $border-color;
  border-top: 0;
  color: inherit;
  line-height: 1.7;
  margin-left: auto;

  svg {
    transform: translateY(-2px) rotate(90deg);
    vertical-align: middle;
  }

  &.active {
    transform: translateY(-1px);

    svg {
      transform: translateY(-2px) rotate(270deg);
    }
  }

  &:focus {
    outline: none;
  }

}

.metabox-prefs {
  @include rem(padding, 16px 20px 0px);
  background-color: white;
  border: 1px solid $border-color;
  border-top: 0;
  margin: 0;
  display: flex;
}

// dumb ass carousels


.fp-carousel, .fp-carousel-two, .fp-carousel-three, .fp-carousel-four {
	.product-card {
		height: 240px;
		padding: 2.375rem 1.25rem

	}
}
