// FP connect page

.fp-search-connect {
  @include rem(margin, 32px 0);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.client-search, .fund-search-input {
  @include rem(padding, 11px 8px);
  @include rem(width, 400px);
  @include rem(height, 42px);
  background-color: white;
  border: 2px solid $border-color;
  color: $apple-green;

  &:focus {
    border: 2px solid $grass-green;
    outline: none;
  }

  &.has-date-picker {
  	background-size: 6%;
  }

}

.sort {
  &.asc, &.desc {
    background-color: $teal-green;
    color: white;

    &::after {
      content: url(/content/dam/NGISingleSiteContent/images/vectors/sort-arrow.svg);
      display: inline-block;
      transform: translate(5px, -2px) rotate(180deg);
      vertical-align: middle;
    }

    &.desc {
      &::after {
        transform: translateX(5px) rotate(0deg);
      }
    }


  }
}

.fp-filter-buttons {
  margin-left: auto;
}

.fp-toolbar {
  @include rem(margin, 0 0 32px);
  align-items: center;
  display: flex;
}

.select-clients {
  margin-left: auto;

  &.selected {
    background: #28af88;
    border: 0;
    border-radius: 25px;
    box-shadow: 0 0 0 1px #28af88;
    color: white;
  }

}

.list {
  list-style: none;
  padding: 0;
}

// Cards

.fp-client-card {
  background-color: white;
  border-top: 1px solid #d3d3d3;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.1);
  margin: 1em;
  padding: 2rem 0 0;
  position: relative;

  @include breakpoint(50em) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: calc(33.33334% - 2em);
  }

  .fp-list-percentage {
    @include font-size(14);
    padding: 0 2rem;
    width: 100%;
  }

  &.fp-client-inactive {

  }

  &:hover {
    box-shadow: 0 2px 12px 0 hsla(0, 0%, 0%, 0.1);
  }

  &.fp-client-card-dashboard {
    border: 1px solid #d3d3d3;
    border-bottom: 0;
    box-shadow: none;
    padding-top: 1rem;
    margin: 1em 0 0;
    width: 100%;

    @include breakpoint(50em) {
      display: flex;
      flex-direction: row;

      > div {
        flex: 1 0 33.3333%;
      }

    }

  }

}

.more-info {
  @include font-size(14);
  background-color: $bg-color;
  border-radius: 25px;

}


.select-client {
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 0;

  .selected-icon {
    display: block;

    path {
      &:first-child {
        // fill: #efefef;
      }
    }
  }

  &.selected {
    .selected-icon {
      path {
        &:last-child {
          fill: #78be20;
        }
      }
    }
  }

}


.fp-client-name {
  margin-top: 0;
  padding: 0 2rem;

  a {
    font-weight: 600;
    text-decoration: none;
  }

}

.fp-investor-number {
  @include font-size(14);
  transform: translate(5px, 3px);
}

.fp-current-status {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 0 2rem;

  span {
    @include rem(padding, 5px 0);
    display: block;
  }

}

.client-card-icon {
  height: 20px;
  width: 28px;
  margin: 0 3px 0 0;
  vertical-align: middle;
  transform: translateY(-2px);
}

.fp-list-detail {
  margin: 0 0 1rem;
  padding: 0 2rem;

  span {
    &:first-of-type {
      font-weight: 600;
    }
  }

}

.fp-list-contact {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  margin-top: auto;
  margin-bottom: 2rem;
}

.fp-client-detail {
  // color: $grass-green;
}

.fp-alerts {
  @include rem(padding, 16px 32px);
  background-color: hsl(200, 12%, 95%);
  border-bottom: 1px solid $border-color;
}

.fp-alerts-dashboard {
  border: 1px solid #d3d3d3;
  border-top: 0;
}

.fp-alerts-header {
  @include rem(margin, 5px 0 0);
  font-weight: 600;


  svg {
    height: 20px;
    width: 20px;
    vertical-align: middle;
  }
}

.fp-action-link {
  text-decoration: none;
  font-weight: 600;
}

.fp-client-alert {
  color: $orange-yellow;
}

.fp-client-upcoming {
  color: $lime-green;
}

// alerts etc

.expand {
  @include rem(height, 50px);
  @include font-size(36);
  align-items: center;
  background-color: $bg-grey-two;
  border: 0;
  border-top: 1px solid $border-color;
  color: #555;
  cursor: pointer;
  display: flex;
  line-height: 1;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}

.detail {
  margin: 20px 0 0 0;
  display: none;
  padding: 2rem;
}

// Messaging

.fp-correspond {
  @include rem(margin, 0 0 32px);
  background-color: white;
  border: 1px solid $border-color;

  > fieldset {
    @include rem(padding, 32px);
    display: flex;
  }

}

.fp-message-header {
  margin: 0;
}

.fp-message-body {
  flex-direction: column;
  width: 100%;
}

.message-input-group {
  @include rem(margin, 0 0 16px);
  @include rem(padding, 0 0 16px);
  align-items: center;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: space-between;

  &.flex-start {
    justify-content: flex-start;
  }

  &:last-child {
    border: 0;
    margin: 0;
    padding: 0;
  }

}

.message-label {
  @include rem(width, 100px);
  margin: 0;
}

.message-input {
  border: 0;
  color: $grass-green;
  flex: 1;

  &:focus {
    outline: none;
  }

}

.message-textarea {
  border: 0;
  padding: 0;
}

.fp-add-email {
  transform: rotate(45deg);

  svg {
    height: 20px;
    width: 20px;
  }

}


// Planner

.planner {
  display: flex;
  margin: 2.5rem -1em;

  > div {
    flex: 0 0 calc(33.33334% - 2em);
    margin: 0 1em;
  }

}
