.internal-login {
  @include rem(margin, 0 auto 48px);
  @include rem(padding, 10px 25px 20px);
  background-color: white;
  border: 1px solid $medium-grey;
  margin: 0 auto;
  max-width: 500px;

  @include breakpoint(50em) {
    @include rem(padding, 20px 40px 40px);
  }

}

.wizard-step {
  color: $medium-grey;
  font-size: 14px;
  font-style: italic;
}