// Registration styles

.register {
  @include rem(margin, 0 auto 48px);
  @include rem(padding, 10px 25px 20px);
  background-color: white;
  border: 1px solid $border-color;
  max-width: 500px;

  @include breakpoint(50em) {
    @include rem(padding, 20px 40px 40px);
  }

  .input-wrapper {
    @include rem(margin, 0 0 32px);
  }

}

.register-step {
  @include rem(margin, 0 0 16px);
  display: flex;
  align-items: center;

  + p {
    @include rem(margin, 32px 0);
  }

}

.register-step-number {
  @include rem(margin, 0 10px 0 0);
  border: 2px solid #009639;
  color: #009639;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.summary-box {
  @include rem(margin, 0 0 40px);
  display: flex;
  flex-direction: column;

  div {
    @include rem(padding, 10px);
    background-color: $bg-grey;
    display: flex;
    justify-content: space-between;

    &:nth-of-type(odd) {
      background-color: $lightest-grey;
    }

  }

  span {
    &:first-of-type {
      font-weight: 600;
    }
  }

}