// Forms listing page

label {
  color: $input-color;
  display: block;
  margin-bottom: 0.75rem;
}

.text-input,
textarea {
  @include rem(padding, 10px);
  border: 1px solid $input-color;
  border-radius: 3px;
  max-width: 400px;
  outline: none;
  transition: 250ms border  ease-in-out;
  width: 100%;

  &:focus {
    border: 1px solid $link-color;
  }
}

textarea {
  height: 300px;
}



