
.show-ie {
  display: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .flipped {
    transform: rotateY( 180deg );

    .assets {
      backface-visibility: visible;
    }

  }

  .flex-grid>article.half-width, .flex-grid>div.half-width {
    -ms-flex-preferred-size: 44.15%;
  }

  .flex-grid > article.third-width, .flex-grid > div.third-width {
    -ms-flex-preferred-size: 24.08%;
  }

  .footer-location {
    display: inline-block;
  }

  .footer-location img {
    display: inline-block;
  }

  .page-header-block p {
    flex-basis: 100%;
  }

  .product-card p {
    width: 100%;
  }


  .graph-card {
    max-width: 584px;
    flex-basis: auto;
    width: calc(50% - 2em) !important;
  }

  .coming-soon svg {
    height: 263px;
    width: 200px;
  }

  .ghost-product-button {
    height: auto;
  }

  .inbox-header {
    width: 80%;
  }

  .hide-ie {
    display: none;
  }

  .show-ie {
    display: block;
  }

  .table-row-item .text-input {
    padding: 0 5px;
  }

  .inbox-detail {
    width: 80%;
  }


}
