.segmented-control {
  align-items: center;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  margin: 2em 0;
  padding: 0;
}

.segmented-control-item {
  margin: 0;
  list-style-type: none;

  &:first-of-type {
    .segmented-control-label {
      border-radius: 3px 0 0 3px;
    }
  }

  &:last-of-type {
    .segmented-control-label {
      border-radius: 0 3px 3px 0;
    }
  }

}

.segmented-control-input {
  position: absolute;
  visibility: hidden;
}

.segmented-control-label {
  @include font-size(12);
  @include rem(padding, 10px);
  border: 1px solid $grass-green;
  color: $grass-green;
  cursor: pointer;
  display: block;
  margin: 0 -1px -1px 0;
  text-align: center;
}

.segmented-control-label:hover {
  background: $grass-green;
  color: white;
}

.segmented-control-input:checked + .segmented-control-label {
  background: $grass-green;
  color: white;
}