table {
  font-variant-numeric: tabular-nums;
  -moz-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  width: 100%;
}

.fund-table {
  @include rem(margin, 40px 0);
    clear: both;
    table-layout: fixed;

  &.fees-table, &.hidden-fund-table {
    table-layout: auto;
  }

  thead {
    &.sticky {
      top: 0;
      width: 1200px;
    }
  }

  tr {
    border-bottom: 1px solid $bg-color;
  }

  tr:not(.tabbed-fund-description) {

    &:hover {
      td {
        background-color: $bg-grey;
      }
    }
  }

  td {
  	padding: 20px;
  	text-align: right;

    &:first-of-type {
      text-align: left;
    }

  }

  th {
    @include font-size(14);
    @include rem(padding, 20px);
    background-color: $bg-grey;
    text-align: right;
    text-transform: uppercase;

    &:first-of-type {
      // border-left: 8px solid $bg-grey;
      text-align: left;
    }

  }

  td {
    background-color: white;
  }

  .fund-price-down {
    transform: translateX(-6px);
  }

  .fund-price-up {
    transform: translate(-12px, -5px);
  }

  @include breakpoint-max(46.250em) {
    border: 0;

    thead, th {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      display: block;
    }

    td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
    }

    td::before {
      content: attr(data-label);
      float: left;
    }

    td:last-child {
      border-bottom: 0;
    }
  }

  label {
  	margin-left: 0.875rem;
  }

}

.hidden-fund-table {

  col {
    width: 250px;
  }

  th, td {
    vertical-align: top;
  }

}

.risk-block {
  @include rem(margin, 0 10px 0 0);
  display: inline-block;
  height: 25px;
  width: 25px;
  transform: translateY(5px);
}

.low-risk {
  background-color: $lime-green;
}

.medium-low-risk {
  background-color: lighten($apple-green, 10%);
}

.medium-risk {
  background-color: lighten($grass-green, 10%);
}

.medium-high-risk {
  background-color: lighten($base-color, 10%);
}

.high-risk {
  background-color: lighten($heritage-green, 10%);
}

.tabbed-fund-description {
  td {
    @include rem(padding, 0 20px);
  }

  h3 {
    color: $apple-green;
    font-weight: 600;
  }

}

// Single fund table

.single-fund-table {
  @include font-size(14);
  background-color: white;

  th, td {
    @include rem(padding, 10px 20px);
    border-left: 0;
    text-align: left;

    &:last-child {
      text-align: right;
    }

  }

  .table-addition {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1;
    border: 0;

    span {
      display: inline-block;
      transform: translateX(-20px);
    }

  }

  [scope="row"] {
    font-weight: 400;
  }

  [scope="column"] {
    text-transform: uppercase;
  }

  @include breakpoint-max(37.5em) {
    border: 0;

    thead, th {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      display: block;
    }

    td {
      display: block;
      text-align: right;
    }

    td::before {
      content: attr(data-label);
      float: left;
      color: $base-color;
    }



  }


}

.fees-table {
  th, td {
    @include rem(padding, 8px 20px);
  }

  + .fees-table {
    margin-top: 1rem;
  }

}


.total-row {
  border-top: 1px solid $border-color;
  font-weight: 600;

  & [scope="row"] {
    font-weight: 600;
  }


}

.total-row-final {
  @include font-size(18);
    border-bottom: 1px solid $border-color;
    color: $grass-green;

    td {
      @include rem(padding, 16px 20px);
    }
}

// Misc

// CMS tables

.article-body {
  table {
    @include font-size(12);
    @include rem(margin, 0 0 20px);
    border: 1px solid $border-color;
    text-align: center;
  }

  th {
    background-color: $nedbank-green;
    color: white;
  }

  th, td {
    @include rem(padding, 5px);
    border: 1px solid $nedbank-green;
  }

  td {
    border-color: $border-color;
  }

}


// #fundsSummary,
// #transaction-table {
//   @include breakpoint-max(50em) {
//     overflow-x: scroll;
//   }
//   table {
//     @include breakpoint-max(50em) {
//       max-width: 1200px;
//       width: 1200px;
//     }
//   }
// }

.transaction-table {
  @include breakpoint-max(37.5em) {
    border: 0;

    thead, th {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      display: block;
    }

    td {
      border-bottom: 1px solid $border-color;
      display: block;
      text-align: right;
    }

    td::before {
      content: attr(data-label);
      float: left;
    }

  }
}
