---
layout: single-page
title: Two column
category: Templates
---


<section class="two-column-grid about-info">
  <article class="about-text">
    <h2>Header</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</p>
  </article>
  <figure class="about-image">
    <img src="/assets/img/photos/women-sewing-one.jpg" alt="">
  </figure>
</section>
<section class="two-column-grid about-info">
  <figure class="about-image">
    <img src="/assets/img/photos/women-sewing-one.jpg" alt="">
  </figure>
  <article class="about-text">
    <h2>Header</h2>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </article>
</section>
<section class="two-column-grid about-info">
  <article class="about-text">
    <h2>Header</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</p>
  </article>
  <figure class="about-image">
    <img src="/assets/img/photos/women-sewing-one.jpg" alt="">
  </figure>
</section>