<section class="center-split home-feature">
  <article>
    <figure class="split-image">
      <img src="/assets/images/dummy-image.jpg" alt="" />
    </figure>
  </article>
  <article>
    <div class="center-split-copy">
      <h1 class="center-split-header">Austerity means spending cuts</h1>
      <p>Economists Kenneth Rogoff and Carmen Reinhart wrote in April 2013, "Austerity seldom works without structural reforms – for example, changes in taxes, regulations and labor market policies – and if poorly designed, can disproportionately hit the poor and middle class. Our consistent advice has been to avoid withdrawing fiscal stimulus too quickly, a position identical to that of most mainstream economists."</p>
      <a href="" class="read-more">
        Read more about austerity
        <svg class="read-more-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="8" viewBox="0 0 20 8">
          <g fill="#E05363" fill-rule="evenodd">
            <rect width="14.545" height="1.6" y="3.2"/>
            <polygon points="14.546 0 20 4 14.547 7.999"/>
          </g>
        </svg>        
      </a>
    </div>
  </article>
</section>