// footer styles

.footer-wrapper {
  padding: 0 0 4rem;
}

.main-footer {
  border-top: 10px solid $sea-pink;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 2rem 0 0;

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

  }

}

.follow-links {
  align-items: center;
  display: flex;
}

.follow-bjc {
  margin-right: 1rem;
}