// footer styles

.footer-wrapper {
  background-color: $base-color;
  color: white;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  margin: 8rem auto 0;
  max-width: 1100px;

  ul {
    list-style-type: none;
  }

}