<div class="component-wrapper">
  <div class="content-container">
    <h2 class="section-header">Founding members</h2>
    <section class="image-gallery">
      <a href="" target="_blank">
        <img src="/assets/images/founders/DullahOmarInstitute.png" alt="">
      </a>
      <a href="" target="_blank">
        <img src="/assets/images/founders/AIDC.png" alt="">
      </a>
      <a href="" target="_blank">
        <img src="/assets/images/founders/ChildrensInstitute.png" alt="">
      </a>
      <a href="" target="_blank">
        <img src="/assets/images/founders/EqualEducation.png" alt="">
      </a>
      <a href="" target="_blank">
        <img src="/assets/images/founders/EqualEducationLawCentre.png" alt="">
      </a>
      <a href="" target="_blank">
        <img src="/assets/images/founders/InstituteForEconomicJustice.jpg" alt="">
      </a>
      <a href="" target="_blank">
        <img src="/assets/images/founders/PublicServiceAccountabilityMonitor.png" alt="">
      </a>
      <a href="" target="_blank">
        <img src="/assets/images/founders/RuralHealthAdvocacyProject.png" alt="">
      </a>
      <a href="" target="_blank">
        <img src="/assets/images/founders/Section27.png" alt="">
      </a>
      <a href="" target="_blank">
        <img src="/assets/images/founders/StudiesInPovertyAndInequality.png" alt="">
      </a>
    </section>
  </div>
</div>