
.owl-theme {
	// Styling Next and Prev buttons
	.owl-nav {
		-webkit-tap-highlight-color: transparent;

		[class*='owl-'] {
			background-image: url(/content/dam/NGISingleSiteContent/images/vectors/slider-arrow.svg);
			background-color: transparent;
			background-repeat: no-repeat;
			background-size: 100%;
			border: 0;
			height: 32px;
			width: 32px;
			font-weight: bold;
			color: $medium-grey;
			position: absolute;
			display: inline-block;
			cursor: pointer;
			top: 45%;

			&:hover {
				text-decoration: none;
			}

			&:focus {
				outline: 1px dotted $border-color;
			}
		}

		.disabled {
			opacity: $nav-disabled-opacity;
			cursor: default;
		}

		.owl-prev {
			left: 5px;
			transform: scaleX(-1);
			min-width: 15px;

			@include breakpoint(33.125em) {
				left: 20px;
			}
		}

		.owl-next {
			right: 5px;
			min-width: 15px;

			@include breakpoint(33.125em) {
				right: 20px;
			}
		}

	}




	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
		clear: both;
	}

	.owl-dots {
		display: none;
		left: 0;
		right: 0;
		bottom: 10px;
		z-index: 99;
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		@include breakpoint(48em) {
    	display: block;
  	}

		.owl-dot {
			background-color: transparent;
			border: 0;
			display: inline-block;
			padding: 2px;
			zoom: 1;
			*display: inline;
			min-width: 10px;

			span {
				border: 1px solid $grass-green;
				width: 0.75rem;
				height: 0.75rem;
				margin: $dot-margin;
				background: white;
				display: block;
				-webkit-backface-visibility: visible;
				transition: background 150ms ease-in-out;
				border-radius: 30px;
			}

			&:focus {
				outline: 1px dotted $border-color;
			}

			&.active,
			&:hover {
				span {
					background-color: $grass-green;
				}
			}
		}
	}
}

.fund-carousel {
	&.owl-theme {
		.owl-nav {
			.owl-prev {
				left: -40px;
			}

			.owl-next {
				right: -40px;
			}
		}
	}
}


.product-carousel, .contact-carousel, .fp-carousel, .fp-carousel-two, .fp-carousel-three, .fp-carousel-four {
	&.owl-theme {
		.owl-nav {
			.owl-prev {
				background-image: url(/content/dam/NGISingleSiteContent/images/vectors/right-arrow-small.svg);
				background-size: 50%;
				left: 0;
			}

			.owl-next {
				background-image: url(/content/dam/NGISingleSiteContent/images/vectors/right-arrow-small.svg);
				background-size: 50%;
				right: 0;
			}
		}
	}
}
