// All about styles

.about-block {
  @include rem(padding, 16px 0);

  > article {
    @include rem(padding, 32px 24px);
    background-color: white;
    position: relative;

    &::before {
      @include circle(up, $bg-grey);
    }

  }
}

.article-header {
  font-weight: 600;
}

.products-block {
  @include rem(padding, 16px 0);

  > article {
    @include rem(padding, 32px 24px);
    background-color: $bg-grey;
    position: relative;

    &::before {
      @include circle(up, white);
    }

  }
}

// Approach styles

.approach-wrapper {
  @include rem(padding, 40px 0);
  background-color: $bg-grey;
}

.approach-grid {
    flex-wrap: nowrap;
  > article {
    @include rem(padding, 40px);
    background-color: white;
    position: relative;

    &::before {
      @include circle(up, $bg-grey);
    }

    @include breakpoint(50em) {
      flex-basis: calc(50% - 2em);
      flex-basis: calc(50% - 2em);
    }
  }
}

// awards

.award-blocks {
  @include rem(padding, 32px 48px 16px 0);

  @include breakpoint(50em) {
    width: calc(20% - 2em);
  }

}

// Contact etc

.contact-map-block {
  background-color: $bg-grey;

  @include breakpoint(50em) {
    width: calc(25% - 2em);
  }

  div[itemtype] {
    @include rem(padding, 0 20px 20px);
  }

  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

}

.contact-header {
  @include rem(padding, 20px 20px 0);
}

.contact-map-header {
  font-weight: 600;
  margin-top: 0;
}


.contact-button {
  background-color: transparent;
  border-radius: 0;
  color: $teal-green;
  text-align: left;
}

span[itemprop] {
  display: block;
}

// Overlay

.link-map {
  @include rem(height, 190px);
  display: block;
  position: relative;

  &:hover {
    .image-overlay {
      opacity: 0.9;
    }
  }

}

.image-overlay {
  background-color: $nedbank-green;
  color: white;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 250ms ease-in;
  width: 100%;
  height: 100%;
  text-align: center;

  em {
    position: relative;
    top: 45%;
    transform: translateY(-45%);
  }

}

// Client blocks

.client-blocks {
  @include rem(padding, 20px);
  text-transform: uppercase;
  text-align: center;

  svg {
    margin: 0 auto;
  }

  span {
    @include font-size(14);
    display: block;
  }

}


// People blocks

.people-blocks {

  h2 {
    margin: 0;
  }

  h3 {
    margin-top: 0;
  }

  p {
    margin: 0;
    max-width: 100%;
  }

}

.people-image-small {
  @include rem(width, 80px);
  @include rem(height, 80px);
  display: block;

  img {
    border-radius: 100%;
    width: 100%;
  }
}

// Job blocks

.job-blocks {
  @include rem(padding, 40px 15px);
  text-align: center;

  @include breakpoint(50em) {
    width: calc(25% - 2em);
  }

  svg {
    margin: 0 auto;
    height: 60px;
    width: 60px;
  }

}