// Additional news, insights etc items

.additional-wrapper {
  background-color: $bg-grey;
}

.additional-item-grid {

  @include breakpoint(50em) {
    > article {
      flex-direction: row;
      max-width: calc(25% - 2em);
    }
  }
}

.additional-item {

}

.additonal-content {
  width: 100%;
  @include rem(padding, 20px);
  @include font-size(14);
  background-color: white;
  display: flex;
  flex-direction: column;

  .investor-cta-link {
    display: flex;
    justify-content: center;
    margin-top: auto;
  }


}

.additional-item-header {
  @include rem(margin, 16px 0 0);
  @include font-size(18);
  font-weight: 600;
}

.additional-item-time {
  @include rem(margin, 0 0 16px);
}
