// Articles

.article-container {
  @include rem(padding, 20px 0);
}

.single-article-header {
  @include font-size(32);
  @include rem(margin, 16px 0 10px);
  line-height: 1.2;
  text-transform: none;

  @include breakpoint(64em) {
    @include font-size(45);
    @include rem(margin, 40px 0 10px);
  }

}

.article-body {

  p:first-of-type {
    @include font-size(18);
  }

  @include breakpoint(64em) {
    @include rem(padding, 0 60px 128px 0);
    @include font-size(18);

    p:first-of-type {
      @include font-size(22);
      @include rem(margin, 48px 0 16px);
    }

    h3 {
      font-weight: 600;
    }

  }

  figure {
    @include rem(margin, 32px 0 48px);
  }

  figcaption {
    @include font-size(14);
    text-align: center;
  }

}

.article-sidebar {
  display: none;

  @include breakpoint(64em) {
    display: block;
    position: relative;
  }
}

.article-side-nav {
  @include rem(margin, 0 0 16px);
  list-style-type: none;

  li {
    @include rem(margin, 0 0 20px);

    &:last-child {
      margin: 0;
    }

  }

  a {
    // color: $base-color;
    text-decoration: none;
  }

  span {
    color: $nedbank-green;
    display: block;
  }

}

.article-highlights {
  position: absolute;
  top: 8rem;
}

.article-related {
  position: absolute;
  top: 80rem;

  &.sticky {
    max-width: 280px;
  }

}

.sticky {
  position: fixed;
  top: 20vh;
}

.article-aside {

  @include rem(padding, 30px);
  background-color: #efefef;

  &::before {
    @include circle(up, #fff);
  }

}

.aside-header {
  font-weight: 600;
}

.aside-sharing {
  @include breakpoint(64em) {
    padding-top: 8rem;
    position: relative;
  }
}