// Banners

.banner {
  background-color: #0f5640;
  position: relative;
  height: 300px;
  text-align: center;
}

.banner-tagline {
  @include font-size(48);
  @include rem(padding, 30px 0);
  color: white;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 auto;
  max-width: 600px;

  &::after {
    @include rem(height, 4px);
    @include rem(width, 130px);
    @include rem(margin, 10px auto 0);
    background-color: $teal-green;
    content: "";
    display: block;
  }

}

.segmentation-choice {
  @include rem(padding, 40px);
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0 ,0, 0.1);
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;

  > div {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
  }

}

.home-cta-link {
  @include font-size(18);
  display: block;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;

  svg {
    border-radius: 100%;
    transform: scale(.99);
    transition: all 500ms ease-in-out;
  }

  span {
    @include font-size(12);
    display: block;
  }

  &::after {
    @include rem(margin, 0 0 0 8px);
    background-image: url(/content/dam/NGISingleSiteContent/images/vectors/right-arrow.svg);
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 12px;
    position: relative;
    width: 8px;
  }

  &:hover {
    // color: $link-hover-color;
  }

}