// Events styles


.flex-grid {
  .upcoming-events, .past-events {
    align-content: start;
    justify-content: start;
    flex-direction: row;
    flex: 1 0 calc(50% - 2em);
    flex-basis: calc(50% - 2em);
  }
}

.event-date {
  @include rem(margin, 0 20px 0 0);
  display: block;

  time {
    background-color: white;
    // box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 105px;
  }

  .day {
    @include font-size(24);
    @include rem(padding, 10px);
    border-left: 1px solid $medium-grey;
    border-right: 1px solid $medium-grey;
    color: $teal-green;
    font-weight: 600;
  }

  .month {
    @include rem(padding, 0 10px);
    background-color: $teal-green;
    border: 1px solid $teal-green;
    color: white;
  }

  .year {
    @include rem(padding, 3px 0);
    background-color: $bg-grey;
    border: 1px solid $medium-grey;
    border-top: 0;
    color: $teal-green;
  }

}

.event {
  @include rem(padding, 30px 30px 20px);
    background-color: white;
    border: 1px solid $medium-grey;
    // box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);

  > div {
    @include rem(padding, 0 0 15px 25px);
    position: relative;
  }

}

.event-download {
  @include rem(margin,0 0 5px);
  @include rem(padding, 0 0 0 30px);
  display: block;
  position: relative;
  text-decoration: none;

  &::before {
    content: "";
    display: block;
    left: 0;
    position: absolute;
    height: 20px;
    width: 15px;
    background-image: url(/content/dam/NGISingleSiteContent/images/vectors/download.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 4px;
  }

  &.event-audio {
    &::before {
      background-image: url(/content/dam/NGISingleSiteContent/images/vectors/audio.svg);
      top: 7px;
    }
  }

  span {
    @include font-size(14);
    color: $light-grey;
  }

}

.event-time,
.event-venue,
.event-description {
  &::before {
    content: "";
    display: block;
    left: 0;
    position: absolute;
    height: 20px;
    width: 15px;
  }
}

.event-time {
  &::before {
    background-image: url(/content/dam/NGISingleSiteContent/images/vectors/time.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.event-venue {
  &::before {
    background-image: url(/content/dam/NGISingleSiteContent/images/vectors/location.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 4px;
  }
}

.event-description {
  &::before {
    background-image: url(/content/dam/NGISingleSiteContent/images/vectors/description.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 7px;
  }
}
