.footer-links {
  clear: both;
}

.footer-links-details {

  @include breakpoint(33.750em) {
    display: flex;
  }

}

.footer-navigation {
  @include rem(padding, 24px 0 0);
  list-style-type: none;
  text-align: center;

  li {
    @include rem(margin, 0 16px);
    display: inline-block;
  }

  a {
    text-decoration: none;
    transition: opacity 250ms ease-in-out;

    &:hover {
      svg {
        opacity: 1;
      }
    }

  }

  svg {
    @include rem(margin, 0 5px 0 0);
    opacity: 0.7;
    vertical-align: middle;
    width: 20px;

    path {
      fill: $nedbank-green
    }

  }

}

.footer-link {
  @include rem(padding, 0 0 10px);
  @include rem(margin, 0 20px 0 0);
  align-items: center;
  display: flex;
  text-decoration: none;
  transition: opacity 250ms ease-in-out;

  &:hover {
    svg {
      opacity: 1;
    }
  }

  svg {
    @include rem(margin, 0 5px 0 0);
    opacity: 0.7;
    vertical-align: middle;
    width: 20px;

    path {
      fill: $nedbank-green
    }

  }

}

.footer-location {
  margin-left: auto;
  text-decoration: none;

  img {
    height: 21px;
    transform: translateY(-2px);
    vertical-align: middle;
    width: 30px;
  }

}

.footer-links-extra {
  @include rem(margin, 20px 0 0);
  @include rem(padding, 20px 0 0);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.legal-link {
  @include font-size(18);
  @include rem(margin, 0 20px 0 0);
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
  }

}
