//  Styles for funds

.fund-wrapper {
	background-color: $bg-grey;
	border-bottom: 2px solid $nedbank-green;
}

.tabbed-fund {
	@include rem(padding, 40px 0);
}

.funds-holder {
	@include rem(margin, 20px 0);
}

// Funds direct

.page-header-block {
	@include rem(padding, 20px 0 0);

	p {
		width: 100%;
	}

}

.page-heading {
	@include font-size(36);
	line-height: 1.2;
	margin: 0;
	font-weight: 400;
}

.page-sub-heading {
	@include rem(margin, 10px 0 20px);
	color: $base-color;
	font-weight: 400;
	text-transform: uppercase;
}

.header-cta {
	@include rem(margin, 20px 0 0);
	@include rem(padding, 20px 0);
	text-transform: uppercase;

	@include breakpoint(64em) {
		border-left: 1px solid $border-color;
		text-align: right;
	}

	a {
		display: block;
		text-transform: none;
	}

}

// Fund summary

.filter-risk {

	@include breakpoint(50em) {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	div {
		@include rem(margin, 0 0 24px);

		 @include breakpoint(50em) {
					margin: 0;
		 }
	}

}

.risk-key {
	align-items: center;
	display: flex;
}

.risk-key-single {
	@include rem(max-width, 190px);
	@include rem(margin, 20px 0 0);
	display: flex;
	flex-direction: column;

	div {
		display: flex;
	}

	.key {
		align-items: flex-end;

		span {
			@include rem(height, 25px);
			width: 20%;

			&.current {
				@include rem(height, 40px);
			}

		}
	}

	.risk-state {
		@include rem(margin, 0 0 10px);
		justify-content: space-between;
	}

	.low {
		background-color: $lime-green;
	}

	.medium-low {
		background-color: lighten($apple-green, 10%);
	}

	.medium {
		background-color: lighten($grass-green, 10%);
	}

	.medium-high {
		background-color: lighten($base-color, 10%);
	}

	.high {
		background-color: lighten($heritage-green, 10%);
	}

}

.benchmark-image {
	width: 80px;
}

// Cards

.fund-cards {

	@include breakpoint(50em) {
		display: flex;
		flex-wrap: wrap;
		margin: 2em -1em 0;
	}

}

.single-fund-card {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.2);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 2em 0;
	text-transform: uppercase;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

	@include breakpoint(50em) {
		margin: 1em;
		flex: 0 0 calc(50% - 2em);
		flex-basis: calc(50% - 2em);
	}

	@include breakpoint(75em) {
		flex: 0 0 calc(33.3333% - 2em);
		flex-basis: calc(33.3333% - 2em);
	}

	&:hover {
		box-shadow: 0 1px 5px rgba(0,0,0,0.2), 0 1px 4px rgba(0,0,0,0.24);
	}

}

.card-header {
	@include rem(padding, 10px 15px);
	background-color: $lightest-grey;

	&.low-risk {
		border-bottom: 8px solid $lime-green;
	}

	&.medium-low-risk {
		border-bottom: 8px solid lighten($apple-green, 10%);
	}

	&.medium-risk {
		border-bottom: 8px solid lighten($grass-green, 10%);
	}

	&.medium-high-risk {
		border-bottom: 8px solid lighten($base-color, 10%);
	}

	&.high-risk {
		border-bottom: 8px solid lighten($heritage-green, 10%);
	}

	h2 {
		@include font-size(16);
		font-weight: 400;
		margin: 0;
	}

}

.fp-fund-class {
	@include font-size(15);
	text-transform: none;
}

.card-info {
	@include rem(padding, 20px 15px 0);
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

.lowercase {
	color: inherit;
	display: inline;
	text-transform: none;
}

.product {
	@include font-size(14);
	@include rem(padding, 5px 10px);
	@include rem(margin, 5px 5px 0 0);
	@include font-size(12);
	background-color: transparent;
	border: 1px solid $teal-green;
	border: 0;
	border-radius: 20px;
	color: $nedbank-green;
	display: inline-block;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	transition: box-shadow 250ms ease-in-out;

	&:focus {
		outline: 1px dotted #e73;
	}

	&:disabled {
		background-color: $lightest-grey;
		box-shadow: 0 0 0 2px $lightest-grey;
		color: grey;
		cursor: not-allowed;

		&:hover {
			box-shadow: 0 0 0 2px $lightest-grey;
		}

	}

}


.ut-button {
	border: 1px solid $grass-green;

	&:hover {
		box-shadow: 0 0 0 1px $grass-green;
	}

}

.tfi-button {
	border: 1px solid $apple-green;

	&:hover {
		box-shadow: 0 0 0 1px $apple-green;
	}

}

.ra-button {
	border: 1px solid $product-teal;

	&:hover {
		box-shadow: 0 0 0 1px $product-teal;
	}

}


.card-item-header {
	color: inherit;
	display: block;
	text-transform: uppercase;

	+ span {
		color: $teal-green;
		text-transform: none;
	}

}

.card-manager {
	@include rem(margin, 5px 0 0);
	display: block;
	height: 45px;
	width: 100px;
}

.card-ratings-link {
	@include font-size(14);
	display: block;
	text-transform: none;
}

.card-funds-button {
	height: 2.5rem;
	padding: 0 1rem;
	font-size: .75rem;
	align-items: center;
	border: 0;
	border-radius: 25px;
	display: inline-flex;
	font-weight: 600;
	justify-content: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: box-shadow 250ms ease-in;
	background-color: white;
	border: 1px solid $grass-green;
	// box-shadow: 0 0 0 1px $grass-green;
	color: $grass-green;

	&:hover {
		box-shadow: 0 0 0 1px $grass-green;
		// border: 2px solid $grass-green;
		color: $grass-green;
		overflow: hidden;
	}

	svg {
		margin-right: 5px;
	}

}

.card-download {
	width: 15px;
}

.card-footer {
	@include rem(padding, 16px 20px);
	background-color: hsl(200, 12%, 95%);
}

.currency-switch {
	@include rem(padding, 16px 0);
}

.international-filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sort-button {

	&.inactive {
		background-color: transparent;
		color: $grass-green;

		&:hover {
			background-color: $grass-green;
			color: white;
		}

	}
}

// Fund sections

.tabbed-header {
	@include font-size(24);
	@include rem(margin, 0 0 24px);
	font-weight: 400;

	@include breakpoint(28.75em) {
		min-width: 27rem;
	}
}

.fund-search {
	@include rem(margin, 0 0 32px);
}

.fund-search-fp {
	display: flex;
}

.factsheet-historical {
	margin-left: auto;
}

.filter-control {
	@include rem(margin, 32px 0 0);
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	&.centered {
		justify-content: center;
	}

	> div {
		margin: 0 .5rem 0 0;
	}

	label {
		text-transform: uppercase;
	}

}

.fees-link {
	@include rem(margin, 15px 0 0);

	@include breakpoint(27.813em) {
		margin: 0;
	}

	svg {
		@include rem(margin, 0 5px 0 0);
		vertical-align: middle;
	}

	&:hover {
		svg {
			path {
				fill: $link-hover-color;
			}
		}
	}

}

.has-date-picker {
	@include font-size(14);
	background-image: url(/content/dam/NGISingleSiteContent/images/vectors/calendar.svg);
	background-position: center right 2px;
	background-repeat: no-repeat;
	background-size: 10%;
}

.colorbar {
	display: inline-block;
	margin: 0px 20px;
	width: 140px;
	height: 24px;
	background: #b7d88e;
	background: linear-gradient(to right, $lime-green 0%, $lime-green 20%, lighten($apple-green, 10%) 21%, lighten($apple-green, 10%) 40%, lighten($grass-green, 10%) 41%, lighten($grass-green, 10%) 60%, lighten($base-color, 10%) 61%, lighten($base-color, 10%) 80%, lighten($heritage-green, 10%) 81%, lighten($heritage-green, 10%) 100%);
	vertical-align: middle;
}

// single fund details

.fund-details {
	@include rem(padding, 20px 40px);
	background-color: $bg-grey;

	&.top-circle {
		&::before {
			background-color: white;
		}
	}

}

.asset-manager-description {

	@include breakpoint(64em) {
		@include rem(padding, 0 25px);
	}
}

.asset-manager {
	width: 150px;
}

.single-fund-details {
	@include font-size(14);

	@include breakpoint(64em) {
		@include rem(padding, 1px 20px 20px 25px);
	}


	&.single-fund-risk {
		@include rem(padding, 1px 25px 20px 0);
	}

	span {
		display: block;
	}

}

.single-header {
	@include font-size(13);
	text-transform: uppercase;
}

.investment-type {

}

.investment-amount {
	@include font-size(20);
	color: $grass-green;
	font-weight: 700;
}

// Performance and price

.performance-container {
	@include rem(padding, 40px 0 0);
}

.performance-block {
	@include rem(margin, 0 0 20px 0);
	@include rem(padding, 20px);
	background-color: $bg-grey;
	border-bottom: 1px solid $border-color;
	transition: all 250ms ease-in-out;
}

.performance-data {
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	flex-wrap: wrap;
	justify-content: space-between;
}

.risk {
	width: 110px;

	.low-risk {
		background-color: transparent;
		color: $lime-green;
		font-weight: 600;
	}

	.medium-low-risk {
		background-color: transparent;
		color: lighten($apple-green, 10%);
		font-weight: 600;
	}

	.medium-risk {
		background-color: transparent;
		color: lighten($grass-green, 10%);
		font-weight: 600;
	}

	.medium-high-risk {
		background-color: transparent;
		color: lighten($base-color, 10%);
		font-weight: 600;
	}

	.high-risk {
		background-color: transparent;
		color: lighten($heritage-green, 10%);
		font-weight: 600;
	}

}

// .risk-value {
//   @include font-size(14);
//   @include rem(padding, 10px);
//   @include rem(min-width, 106px);
//   align-tems: center;
//   background-color: white;
//   border: 1px solid $orange-yellow;
//   border-radius: 4px;
//   display: flex;
//   justify-content: center;
// }

.fund-name {
	@include rem(width, 265px);
}

.fund-title {
	@include rem(margin, 0 0 8px);
	font-weight: 600;

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

	}

}

.show-graph-button {
	color: $teal-green;

	svg {
		transform: rotate(90deg);
		vertical-align: middle;
		width: 15px;
	}

	&.graph-open {
		svg {
			transform: rotate(-90deg);
		}
	}

}

.perfomance-category {
	@include rem(margin, 0 0 8px);
	@include font-size(14);
	display: block;
}

.category-type {
	color: $teal-green;
}

.performance-down {
	@include font-size(18);
	color: $orange-yellow;
	font-weight: 600;
}

.performance-up {
	@include font-size(18);
	color: $apple-green;
	font-weight: 600;
}

.chartjs-render-monitor {
	background-color: white;
}

.single-fund-chart {
	margin: 0;
}

.performance-graph {
	@include rem(padding, 40px 0);
	display: none;
	position: relative;
}

.graph-container {
	@include rem(padding, 20px 20px 40px);
	background-color: white;
	overflow: hidden;
	width: 100%;

	@include breakpoint(38.438em) {
		display: flex;
		justify-content: space-between;
	}

	.graph-switch {
		position: relative;
		z-index: 999;
	}

	.graph-switcher {
		float: right;

		@include breakpoint(38.438em) {
			float: none;
		}


	}

}

.bar-graph {
	display: none;
	position: absolute;
	top: 9rem;
	left: 0;
	width: 100%;
	z-index: 2;
}

.filter-control-graph {
	display: none;
	text-align: center;
}

.recommended-period {
	@include rem(margin, 30px 0 0);
	color: $grass-green;
	text-align: center;
}

.performance-price {
	@include rem(padding, 40px 40px 20px);
	background-position: top center;

	&.performance-price-fp {
		background-color: #dedede;
	}

}

.fund-detail-block, .price-block {
	@include rem(padding, 1px 20px 20px);
	margin-bottom: 1.5rem;
	background-color: $bg-grey;

	h3 {
		@include breakpoint(64em) {
			@include font-size(20);
			align-items: center;
			display: flex;
			justify-content: space-between;
		}
	}

}

.detail-link {
	@include font-size(14);
	color: $grass-green;
	display: block;
	text-decoration: none;
}

.download-block {
	flex: 1 0 auto;
}

.price-block {

	h3 {
		justify-content: flex-start;

		input {
			@include rem(margin, 0 0 0 10px);
		}

		a {
			margin-left: auto;
		}

	}

	p {
		@include rem(margin, 0 0 8px);
		font-weight: 600;

		&:last-of-type {
			@include rem(margin, 0 0 16px);
		}

	}

	span {
		@include rem(margin, 0 0 0 15px);
		color: $grass-green;
		font-weight: 400;
	}
}

.price-date-selector {
	@include rem(padding, 5px 10px 15px 0);

	input {
		background-color: white;
		border-radius: 0;
	}

}

// Fund details

.fund-details-specific {
	@include rem(padding, 40px 0 10px);
}

.fund-detail-download {
	@include rem(padding, 15px 10px);
	align-items: center;
	background-color: white;
	border-bottom: 0;
	color: $apple-green;
	display: flex;
	height: 50px;
	text-decoration: none;

	+ .fund-detail-download {
		margin-top: 1px;
	}

	img {
		@include rem(margin, 0 5px 0 0);
		height: 14px;
		width: 15px;
	}

	&:hover {
		color: $grass-green;
	}

}

// Miscellaneous because there is no structure to the design

.fund-block-header {
	@include rem(margin, 0 0 20px);
	@include rem(padding, 10px);
	color: white;
	background-color: $nedbank-green;
	font-weight: 300;
	text-transform: uppercase;
}

// Disclaimer

.disclaimer {

	h4 {
		@include font-size(16);
	}

	p {
		@include font-size(14);
	}

}

// Fund history controls

.historical-data {
	@include rem(padding, 40px);
	background-color: $bg-color;
}

.filter-row {
	@include rem(margin, 0 0 30px);
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;

	> div {
		display: flex;

		&:first-of-type {
			width: 15%;
		}

		&:last-of-type {
			width: 85%;
		}


	}

	select, .select-span {
		max-width: 400px;
	}

}

.filter-label {
	font-weight: 600;
	text-transform: uppercase;
}

// Risk ratings

.single-fund-intro {
	// padding-left: 1.5rem;
	position: relative;

	&::before {
		@include rem(height, 100px);
		@include rem(width, 10px);
		// content: "";
		display: inline-block;
		position: absolute;
		left: 0;
		top: 3.25rem;
	}

	&.lr {
		&::before {
			border-left: 8px solid $lime-green;
		}
	}

	&.mlr {
		border-bottom: 8px solid lighten($apple-green, 10%);
	}

	&.mr {
		&::before {
			border-left: 8px solid lighten($grass-green, 10%);
		}
	}

	&.mhr {
		&::before {
			border-left: 8px solid lighten($base-color, 10%);
		}
	}

	&.hr {
		&::before {
			border-left: 8px solid lighten($heritage-green, 10%);
		}
	}

}


// Featured fund

.fund-finder {
	@include rem(margin, 40px 0 0);
}

.featured-fund {
	@include rem(padding, 40px 0);
}

.feature-header {
	@include rem(padding, 0 30px);
	align-items: center;
	background-color: $bg-grey;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.featured-fund-name {
		@include font-size(16);
		@include rem(padding, 8px 0 10px 10px);
		display: inline-block;

		span {
			@include font-size(24);
			display: block;
			text-transform: uppercase;
		}
	}

	svg {
		transform: translateY(16px);
	}

	a {
		display: block;
		text-align: right;
	}

}

.featured-fund-body {
	@include rem(padding, 25px 0 40px);

	@include breakpoint(64em) {
		display: flex;
	}

	.single-fund-card {
		flex: 1 0 0;
	}

}

.featured-fund-illustrative {
	@include rem(padding, 50px);
	background-color: white;
}

.fund-characteristics {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		@include rem(padding, 15px 0);
		border-bottom: 1px solid $teal-green;


	&.download-list-item {
		@include rem(padding, 15px 0 15px 50px);
		background-image: url(/content/dam/NGISingleSiteContent/images/vectors/documents.svg);
		background-position: left center;
		background-repeat: no-repeat;
		background-size: 8%;

		span {
			display: block;
		}

		a {
			text-decoration: none;
		}

	}

		&:last-child {
			border: 0;
		}

	}

}

.featured-value {
	color: $teal-green;
}

// Charts

.fund-graph {
	@include rem(padding, 20px);
	background-color: $bg-grey;
	margin-top: 2rem;
}

.graph-label {
	@include rem(margin, 10px 0 0);
	@include font-size(14);
	display: none;
}

// Fund add to cart

.single-fund-header {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.single-add-cart {

	span {
		display: block;

		@include breakpoint(31.25em) {
			display: inline-block;
		}

	}

}

.chart-legend {
	background-color: white;
	padding: 1.25rem 1.25rem 0;
}

.chart-legend.chart-legend-drilldown {
	padding: 0;
}

.chart-legend ul {
	margin: 0;
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.chart-legend li {
	font-size: .875rem;
	margin: 0 1.25rem 0 0;
	list-style-type: none;

	&:first-child {
		span {
			background-color: #82BA3D;
		}
	}

	&:last-child {
		span {
			background-color: #ccc;
		}
	}

}

.chart-legend span {
	background-color: #28af88;
	border-radius: 100%;
	display: inline-block;
	height: .625rem;
	margin: 0 .3125rem 0 0;
	width: .625rem;
}

// hidden pages

.hidden-price-header {
	align-items: center;
	display: flex;
	flex-wrap: wrap;

	div {
		align-items: center;
		&:last-child {
			margin-left: auto;
		}

		h3 {
			margin: 0;
		}

	}

}

//  Search items

.fund-search-clear {
	color: $grass-green;
	transform: translateX(-20px);
}
