/* Styles for all media related elements */

// General

.item-grid {
  @include rem(padding, 32px 0);
  background-color: $bg-grey;
}


.media-item-grid {
  @include rem(padding, 16px);
}

.insights-block {
  @include rem(padding, 0 0 30px 30px);
}

.block-header {
  @include font-size(36);

  &::after {
    background-color: #00b388;
    // content: "";
    display: block;
    height: 4px;
    transform: translateY(15px);
    width: 80px;
  }

}

.article-block {
  background-color: white;
  position: relative;

  @include breakpoint(64em) {
    display: flex;

    > div {
      width: 50%;
    }

  }

  &.article-block-dark {
    background-color: $dark-grey;
    background-color: $bg-color;
    // color: white;

    .right-circle {
    &::after {
      background-color: $dark-grey;
      background-color: $bg-color;
    }
  }

  }

}

.article-text-default {
  background-color: white;
  position: relative;

  &::before {
    @include circle(up, $bg-grey);
  }

}

.article-text {
  @include rem(padding, 20px 30px);
  position: relative;

  @include breakpoint(64em) {
    @include rem(padding, 0 30px);
  }

  .article-meta {
    @include rem(margin, 5px 0 10px);

    &::before {
      content: "- ";
    }
  }

  @include breakpoint(64em) {
    &.right-circle {
      &::before {
        @include circle(right, #f0f0f0);
      }
    }
  }

  @include breakpoint(64em) {
    &.left-circle {
      &::before {
        @include circle(left, white);
      }
    }
  }

}

.video-single {
  @include rem(margin, 0 0 40px);
  @include rem(padding, 20px 20px 4px);
  background-color: white;
}

.article-block-header {
  line-height: 1.2;
  margin-bottom: 0;

  + p:not(.article-meta) {
    @include rem(margin, 20px 0 28px);
  }

}

.article-figure {

  figure {
    margin: 0;
  }

  img {
    display: block;
    width: 100%;

    @include breakpoint(64em) {
      max-height: 350px;
    }
  }

}


.article-list {
  @include rem(padding, 30px);
  @include rem(margin, 30px 0);
  @include font-size(18);
  background-color: white;
  // align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  position: relative;

  @include breakpoint(64em) {
    @include rem(padding, 0 30px);
    margin: 0;
    min-height: 350px;
    height: 350px;
    &::before {
      @include circle(up, $bg-grey);
    }
  }

  li {
    @include rem(padding, 10px 0);
    border-bottom: 1px solid $border-color;

    &:last-child {
      @include rem(padding, 10px 0 0);
      border: 0;
    }

  a {
      text-decoration: none;
    }

  }
}


.article-list-dark {
  background-color: $bg-grey;

  &::before {
    background-color: white;
  }

  // a {
  //   color: white;
  // }

}

// Videos

.video-block {
  display: flex;
  margin: 0 0 2em;
}

.video-block {
  .article-text-default {
    &::before {
      background-color: $slider-green;
    }
  }
}

.video-container, .embed-container {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  position: relative;

  iframe {
    border: 2px solid white;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

}

.article-block-header {
  @include font-size(24);
  font-weight: 400;
  text-transform: uppercase;

  &.header-white {
    color: white;
  }

}

// Education

.education-block {
  flex: 1 0 0;

  .article-text-default {
    @include rem(padding, 30px);

    &::before {
      background-color: $bg-grey;
    }

    @include breakpoint(50em) {
      width: calc(33% - 2em);
    }

  }
}

.education-thumb {
  @include rem(padding, 30px 0 0);
  margin: 0;

  img {
    width: 100%;
  }

}

.education-link {
    a {
    text-decoration: none;
  }
}

.education-block-header {
  @include font-size(24);
  @include rem(margin, 10px 0 20px);
  font-weight: 400;
  line-height: 1.2;
}

.learn-block {
  @include rem(padding, 30px);
  border-top: 2px solid $nedbank-green;
}

// Insights listing page

.insights-download {
  text-decoration: none;

  img {
    width: 25px;
  }

  span {
    display: block;
  }
}

.insights-link {
  display: block;
}

.insights-filter {
  @include rem(padding, 20px);
  background-color: white;

  div {
    @include rem(margin, 0 0 20px);
  }

  @include breakpoint(50em) {
    @include rem(padding, 20px 40px);
    display: flex;
    justify-content: center;
    align-content: center;

    div {
      @include rem(margin, 0 20px);
      margin: 0 20px;
      width: 22%;
      width: calc(1/5*100% - (1 - 1/4)*20px);
    }

  }
}

.media-item-grid {

  .insights-article {
    @include rem(padding, 40px 40px 20px);
    background-color: white;

    a {
      text-decoration: none;
    }

    @include breakpoint(50em) {
      width: calc(50% - 2em);
    }

    p:last-child {
      margin-top: auto;
    }

  }
}

.insights-article-header {

  h2 {
    @include rem(margin, 0 0 20px);
    flex: 1 0 80%;

    span {
      @include rem(margin, 10px 0 0);
      @include font-size(16);
      display: block;
    }
  }

  @include breakpoint(50em) {
    display: flex;
    width: 100%;

    h2 {
      @include rem(margin, 0 0 20px 20px);
    }

    figure {
      flex: 1 0 15%;
    }

  }


}

.greyscale {
  filter: grayscale(100%);
}


.insights-grid-two-column {
  display: flex;
  margin: 0 -1em;

  > div {
    margin: 0 1em;
    width: 66.6666667%;

    &:first-of-type {
      background-color: white;
      width: 33.333333%;
    }

  }

  a {
    text-decoration: none;
  }

}

.insights-not-featured {
  display: flex;
  flex-direction: row;

  &:first-of-type {
      @include rem(margin, 0 0 32px);
    }


  img {
    display: block;
  }

  > figure,
  > div {
      background-color: white;
      flex: 1 0 0;
  }

  .featured-copy {
    @include rem(padding, 14px 30px 0);
    position: relative;

    &.how-to-copy {
      @include rem(padding, 30px 30px 0);
    }

  }

  .news-block-header {
    color: inherit;
  }

  &.reversed {
    figure {
      order: 1;
    }
  }

}

.insights-block-link {
  &:last-of-type {
    .insights-not-featured {
      margin: 0;
    }
  }
}

// News specific

.news-item {
  @include rem(padding, 20px 40px 40px);
  border-top: 1px solid $nedbank-green;
  // border-bottom: 40px solid $green-variation-two;

  .article-block-header {
    margin: 0;
  }

  .article-meta {
    @include rem(margin, 5px 0 15px);
  }

  p:not(.article-meta) {
    @include rem(margin, 5px 0 10px);
  }

}

// News grid

.three-column {

  @include breakpoint(64em) {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -1em;
  }


  @include breakpoint(64em) {
    > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      // align-content: flex-start;
      // justify-content: flex-start;
      margin: 0 1em;
      width: 33.3%;

      .featured-image {
        padding: 0;
        margin: 0;
        height: 370px;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          vertical-align: middle;
        }
      }
    }
  }

}

.two-column {

  @include breakpoint(64em) {
    display: flex;
    margin: 0 -1em;
    flex: 1 0 auto;

    > article {
      display: flex;
      margin: 0 1em;

      &:first-of-type {
        width: 64%;
        width: calc(66.666667% - 2em);

        figure,
        div {
          width: 50%;
        }

      }

      &:last-of-type {
        width: 30%;
        width: calc(33.333333% - 2em);
      }

    }
  }
}

.featured-article {

  @include breakpoint(64em) {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  time {
    @include rem(margin, 0 0 16px);
    clear: both;
    display: block;
    font-weight: 300;
    text-transform: uppercase;
  }

  img {
    display: block;
    width: 100%;
  }

  > figure {
      position: relative;
  }

  @include breakpoint(64em) {
    > figure {
      position: relative;
      width: 66.6666667%;
    }
  }

  .featured-title {
    @include rem(padding, 0 40px 0 0);
    color: white;
    position: absolute;
    left: 5%;
    top: 12%;
  }

  .featured-copy {
    @include rem(padding, 40px 30px 20px);
    display: flex;
    flex: 1 0 auto;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
    position: relative;

    @include breakpoint(64em) {
      min-height: 330px;
      width: 33.333333%;
    }

    p {
      &:last-of-type {
        margin: 0;
      }
    }

    @include breakpoint(64em) {
      &.left-circle {
        &::before {
          @include circle(left, white);
        }
      }

      &.top-circle {
        &::before {
          @include circle(up, white);
          top: -30px;
          transform: rotate(180deg);
        }
      }

      &.right-circle {
        &::before {
          @include circle(right, white);
        }
      }
    }

  }

  &.double-row {
    flex-direction: column;
    width: 100%;

    .news-block-header {
      color: inherit;
      text-transform: none;
    }

    figure,
    .featured-copy {
      width: 100%;
    }

    .featured-copy {
      @include rem(padding, 20px);
    }

  }

  &.color-blocks {
    @include rem(padding, 20px);
    background-color: $teal-green;
    color: white;
    flex-direction: column;
  }

  &.reversed {
    .featured-image {
      order: 2;
    }
  }

}

.one-column, .two-column {
  text-decoration: none;

  .news-block-header {
    color: inherit;
  }

}

.article-text-blocks {
  flex-wrap: wrap;
}

.news-block-link {
  @include font-size(15);
  text-transform: uppercase;
  text-decoration: none;

  &.news-block-link-inverse {
    color: white;

    &:hover {
      color: $link-hover-color;
    }

  }

}

.news-block-header {
  @include rem(margin, 0 0 20px);
  @include font-size(30);
  color: white;
  font-weight: 400;
  line-height: 1.2;

  + h3 {
    @include font-size(24);
    clear: both;
    color: white;
    display: inline-block;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
  }

}

.news-header-bg {
  @include rem(padding, 5px);
  background-color: rgba($teal-green, 0.9);
  display: inline-block;
}

// how to

.how-to-grid {
  .news-block-header {
    @include rem(margin, 0 0 30px);
  }
}

.how-to-link {
  @include rem(margin, 0 0 10px);
  display: block;

  &.inverse {
    color: white;
  }

  img {
    @include rem(margin, 0 5px 0 0);
    display: inline-block;
    width: 20px;
  }

  span {
    text-transform: none;
  }

}

// Videos

.video-list {
  @include rem(padding, 20px 40px);
  border-top: 1px solid $nedbank-green;

  &:nth-of-type(even) {
    // background-color: $green-variation-two;
  }

}

// Sharing

.sharing {
  display: none;
  @include rem(padding, 30px 0 0);
  list-style: none;

  @include breakpoint(64em) {
    display: block;
    position: absolute;
  }

  li {
    @include rem(margin, 0 0 30px);
    display: inline-block;
    text-align: center;

    @include breakpoint(64em) {
      display: block;
    }

  }

  svg {
    height: 20px;

    path {
      fill: $teal-green;
    }

  }

  &.sticky {
    max-width: 80px;
  }

}

// video test

.video-test {
  margin: 40px 0;
}