// Top header navigation

.main-nav {
  display: none;

  @include breakpoint(64em) {
    display: flex;
  }

  @include rem(margin, 0 0 0 20px);
  list-style-type: none;

  > li {
    @include font-size(15);
    @include rem(margin, 7px 15px 7px 0);
    @include rem(padding, 0 15px);
    font-weight: 300;
    cursor: pointer;
    position: relative;
    z-index: 3;
    color: white;
    position: relative;
    text-decoration: none;

    @include breakpoint(72.125em) {
      @include font-size(17);
      @include rem(margin, 7px 35px 7px 0);
    }

    &:last-child {
      margin-right: 0;
    }

    > a {
      color: white;
      text-decoration: none;
      white-space: nowrap;
    }

    &.has-sub {

      &::after {
        width: 0;
        height: 0;
        border-top: 4px solid white;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        content: "";
        position: absolute;
        right: -5px;
        top: 50%;
      }

      &.menu-open {
        &::after {
          visibility: hidden;
        }
      }

    }

    &.caret-hide {
      &:after {
        display: none;
      }
    }

  }
}

.sub-nav {
  @include rem(padding, 10px 0);
  @include rem(min-width, 160px);
  @include rem(top, 35px);
  background-color: white;
  border: 1px solid $medium-grey;
  border-top: 0;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  display: none;
  margin: 0;
  min-width: 230px;
  list-style-type: none;
  position: absolute;
  white-space: nowrap;

  &::before {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: white;
    border-radius: 100%;
    content: "";
    position: absolute;
    left: 10%;
    top: -6px;
  }

  > li {
    @include rem(padding, 0 12px);
    font-weight: 400;
  }

  a {
    @include font-size(14);
    @include rem(padding, 5px 0);
    cursor: pointer;
    padding: 5px 12px;
    display: inline-block;
    text-decoration: none;
    transition: all 250ms ease-in;
    width: 100%;

    &:hover {
      background-color: $lightest-grey;
      color: $grass-green;
    }

  }

}

.column-menu {
  @include rem(padding, 20px);
  @include rem(min-width, 430px);

  .top-level {
    @include font-size(14);
    @include rem(padding, 0 10px 0 0);
    color: $grass-green;
    cursor: default;
    font-weight: 600;
    float: left;
    text-transform: uppercase;

      + .top-level {
        @include rem(padding, 0 0 0 10px);
        border: 0;
        float: right;
      }

    }

    ul {
      @include rem(padding, 10px 0 0);
      list-style-type: none;
      text-transform: none;

      a {
        @include font-size(14);
        @include rem(padding, 5px 0);
        font-weight: 400;
        transition: all 250ms ease-in;

        &:hover {
          background-color: $lightest-grey;
          color: $grass-green;
        }

      }

    }

}


// Mobile things

.menu-mobile-open {
  background-color: transparent;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(5px, 3px);

  @include breakpoint(64em) {
    display: none;
  }

  &:focus {
    outline: none;
  }

  span {
    background: white;
    border-radius: 3px;
    display: block;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    width: 1.5rem;
  }

}

.mobile-nav {
  background-color: white;
  margin: 0;
  display: none;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;

  @include breakpoint(64em) {
    display: none !important;
  }

  li {
    list-style-type: none;
    border-bottom: 1px solid $border-color;
  }

  a {
    @include rem(padding, 10px 16px);
    display: block;
    text-decoration: none;
  }


  .mobile-level-one {
    position: relative;

    &::after {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid $teal-green;
      content: "";
      display: inline-block;
      height: 0;
      width: 0;
      transform: translate(5px, -1px);
    }
  }

  .mobile-level-two {
    display: none;
    padding: 0;
    margin: 0;

    li {
      border: 0;
    }

    a {
      background-color: $grass-green;
      border-bottom: 1px solid white;
      color: white;
    }

  }

}