// All cart styles

.cart-flyout-container {
  position: relative;

  &:hover {
    .cart-flyout {
      display: block !important;
    }
  }

}

.cart-button {
  @include rem(margin, 0 0 0 10px);
  @include rem(padding, 5px 10px);
  align-items: center;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}

.cart-flyout {
  @include rem(padding, 10px 20px 16px);
  @include rem(top, 40px);
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  position: absolute;
  right: 0;
  display: none;
  width: 275px;
  z-index: 12;

  @include breakpoint(40em) {
    width: 375px;
  }


  &::before {
    @include rem(right, 38px);
    @include rem(margin, -22px 0 0);
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
  }

}

.cart-flyout-list {
  div:last-of-type {
    @include rem(padding, 10px 0 40px);
    border: 0;
  }
}


.cart-flyout-item {
  @include rem(padding, 15px 0);
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    span {
      display: block;
    }

    .cart-flyout-fund {
      @include font-size(13);
    }

  }

}

.cart-flyout-buttons {
  display: flex;
  justify-content: space-between;
}

.cart-flyout-remove {
  background-color: transparent;
  border: 0;
}

.count {
  @include font-size(12);
  @include rem(margin, 0 0 0 4px);
  align-items: center;
  background: $apple-green;
  border-radius: 50%;
  color: white;
  display: flex;
  height: 20px;
  justify-content: center;
  visibility: hidden;
  width: 20px;
}

.cart-list {
  @include rem(margin, 0 auto 40px);
}

.cart-panel {
  @include rem(margin, 0 0 20px);
  @include rem(padding, 20px);
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: relative;

  @include breakpoint(48em) {
    @include rem(padding, 40px);
  }

}

.cart-fund-details {

  @include breakpoint(48em) {
    align-items: center;
    display: flex;

    p {
      margin: 0 40px;
      width: calc(25% - 80px);
    }

  }

  p {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  svg {
    height: 20px;
    width: 28px;
    margin: 0 10px 0 0;
  }

}

.cart-fund-header {
  font-weight: 600;
  margin-top: 0;

  @include breakpoint(48em) {
    margin: 0;
    width: 350px;
  }

}

.cart-fund-link {
  color: $base-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

.cart-risk {
  font-weight: 600;
}

.cart-low-risk {
  color: $lime-green;
}

.cart-low-medium-risk {
  color: lighten($apple-green, 10%);
}

.cart-medium-risk {
  color: lighten($grass-green, 10%);
}

.cart-medium-high-risk {
  color: lighten($base-color, 10%);
}

.cart-high-risk {
  color: lighten($heritage-green, 10%);
}

.cart-panel-performance {
  @include rem(padding, 16px 40px 0 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include breakpoint(48em) {
    @include rem(padding, 10px 40px);
  }

  div {
    @include rem(padding, 0 20px 20px 0);

    &:first-of-type {
      display: none;
    }

    @include breakpoint(48em) {
      @include rem(padding, 0 20px);

      &:first-of-type {
        display: block;
        padding: 0;
      }

    }

  }

}

.cart-perfomance-icon {
  height: 20px;
  width: 37px;
}

.cart-panel-description {
  @include breakpoint(48em) {
    max-width: 200px;
  }

  p {
    margin: 0;
  }
}


.cart-panel-select {
  // margin-left: auto;
}

.cart-remove {
  @include rem(top, 8px);
  @include rem(right, 8px);
  background-color: transparent;
  border: 0;
  position: absolute;

  svg {
    height: 10px;
    width: 10px;
  }

}


// Empty cart

.empty-cart {
  @include rem(margin, 16px 0 12px);
  @include rem(padding, 10px);
  background-color: $bg-color;
}

// Checkout

.button-align {
  @include rem(padding, 40px 0);
  display: flex;
  justify-content: flex-start;

  .button + .button {
    margin-left: auto;
  }

}
