// Tabs

.tabs-wrapper {

}

.tabs {
  margin: 20px auto 0;
  max-width: 1200px;
}

.tab-controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  white-space: nowrap;
  max-width: 1200px;

  li {
    border-bottom: 0;
    text-align: center;
    flex: 1 0 auto;
  }

  a {
    @include font-size(16);
    @include rem(padding, 15px 20px);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    display: block;
    font-weight: 300;
    position: relative;
    text-decoration: none;
    top: 1px;
    transition: border-color 250ms ease-in;
    white-space: nowrap;

    img {
      width: 80px;
    }

    &.active, &:hover {
      border-color: $grass-green;
      color: $grass-green;
      position: relative;

      &::before {
        background-color: $grass-green;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        bottom: -1px;
        content: "";
        display: block;
        height: 6px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        transition: background-color 250ms ease-in;
        width: 12px;
      }

    }

    &.active {
      font-weight: bold;
    }

    &:focus {
      outline: none;
    }

    span {
      display: none;
    }

    @include breakpoint(50em) {
      img {
        display: none;
      }

      span {
        display: inline-block;
      }

    }

  }
}


.tab-date {
  color: $apple-green;
}

